<div class="head"></div>
<form action="/home/new" method="POST" class="createPost" enctype="multipart/form-data">
    <h2>New Post</h2>
    <input type="text" required name="title" placeholder="Title(maximum 40 characters)">
    <input type="text" required class="content" name="content" placeholder="Post Content">
    <h4 class="grey aln_l">Upload Image</h4>
    <input type="file" required class="newPostBtn" placeholder="+" name="image">
    <button class="btn aln_r" type="submit" name="submit">Create Post</button>
</form>