<div class="row login">
    <img src="/svgs/logoicon.svg" alt="" class="logo">
    <div class="logincard">
        <h3>Admin Login</h3>
        <form action="/admin" method="POST">
            <input type="email" required name="email" placeholder="E-mail">
            <input type="password" required name="password" placeholder="Password">
            <div class="row">
                <a href="/admin/register" class="btn">Sign up</a>
                <button class="btnreverse" type="submit" name="submit">Log in</button>
            </div>
        </form>
    </div>
</div>