<div class="login row">
    <img src="/svgs/logoicon.svg" alt="" class="logo">
    <div class="logincard">
        <h3>Register</h3>
        <form action="/admin/register" method="POST">
            <input type="text" required name="name" placeholder="Name">
            <input type="email" required name="email" placeholder="E-mail">
            <input type="password" required name="password" placeholder="Password">
            <div class="row">
                <button class="btnreverse" type="submit" name="submit">Sign in</button>
            </div>
        </form>
    </div>
</div>