<div class="navname">
    <a href="/home" class="name">{{name}}</a>
</div>
<div class="nav">
    <div class="navlist" id="nvlist">
        <ul>
            <li><a href="/home" class="navlinks">Home</a></li>
            <li><a href="/home/new" class="navlinks">Create</a></li>
            <li><a href="/home/logout" class="navlinks">Logout</a></li>
        </ul>
    </div>
    <div class="navicon">
        <div class="line1 item"></div>
        <div class="line2 item"></div>
        <div class="line3 item"></div>
    </div>
</div>