<div class="navname">
    <a href="https://inchesnfeet.com" class="name">Inches N Feet</a>
</div>
<div class="nav">
    <div class="navlist" id="nvlist">
        <ul>
            <li><a href="https://inchesnfeet.com" class="navlinks">Home</a></li>
            <li><a href="https://inchesnfeet.com/portfolio" class="navlinks">Portfolio</a></li>
            <li><a href="" class="navlinks">Products</a></li>
            <li><a href="https://inchesnfeet.com/services" class="navlinks">Services</a>
            </li>
            <li><a href="https://inchesnfeet.com/blog" class="navlinks">Blogs</a></li>
            <li><a href="" class="navlinks">Contact us</a></li>
        </ul>
    </div>
    <div class="navicon">
        <div class="line1 item"></div>
        <div class="line2 item"></div>
        <div class="line3 item"></div>
    </div>
</div>